@font-face {
  font-family: "Roboto Flex";

  src: url(../fonts/roboto-flex-latin-wght-normal.woff2) format("woff2");
  }

body {
  font-family: "Roboto Flex";
  }

.main-character {
  display: grid;

  place-items: center;

  min-height: 90vh;

  transition: filter .4s cubic-bezier(.05, .7, .1, 1),
  transform .4s cubic-bezier(.05, .7, .1, 1);
  }

.main-character.blurred {
  transform: scale(.98);
  filter: blur(8px) brightness(.68);
  }

.character {
  width: 70%;

  user-select: none;
  }

.settings-btn-open {
  position: fixed;
  right: 16px;
  bottom: 16px;

  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;

  padding: 0;

  border: none;
  border-radius: 16px;
  outline: none;

  background-color: var(--md-sys-color-primary-container);

  cursor: pointer;

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .12),
  0 6px 10px 0 rgba(0, 0, 0, .08),
  0 1px 18px 0 rgba(0, 0, 0, .05);

  }

.settings-icon {
  display: inline-block;

  width: 24px;
  height: 24px;

  background-color: var(--md-sys-color-on-primary-container);

          mask: url(../icon/settings.svg) no-repeat center / contain;

  -webkit-mask: url(../icon/settings.svg) no-repeat center / contain;
  }
